* {
  margin: 0;
  padding: 0;
}

.MenuStyle {
  width: 100%;
  height: 100px;
  background: #6ab04c;
  color: white;
}

.MenuStyle ul {
  height: 100px;
  display: flex;
  /* display flex means side by side like this: HOMEABOUTCONTACT */
  justify-content: space-around;
  /* justify-content means space between like this: HOME    ABOUT   CONTACT */
  align-items: center;
}

.MenuStyle ul li {
  list-style: none;
  text-transform: uppercase;
  color: white;
}
.MenuStyle ul li a {
  text-decoration: none;
  color: white;
}
